[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/s7"]
	path = lib/s7
	url = https://github.com/abramsba/s7.git
[submodule "lib/flecs"]
	path = lib/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "lib/JoltPhysics"]
	path = lib/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/rlImGui"]
	path = lib/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
